<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="titulo">
        <h1>Cinepolis</h1>
    </div>

    <div class="container">

        <div class="Entrada">
            <h1>Entradas</h1>
            <div>
                <label for="name" class="col-sm-2 col-form-label">Nombre</label>
                <input type="string" placeholder=" ">
            </div>
            <div>
                <label for="cantidad" class="col-sm-2 col-form-label">Cantidad compradores</label>
                <input matInput [(ngModel)]="compradores" type="number" placeholder="CCompradores">
            </div>
            <h3> Tarjeta Cinecom</h3>
            <div>

                <div class="form-check">
                    <label class="form-check-label" for="flexRadioDefault">
                        Si
                    </label>
                    <input class="form-check-input" name="tarjeta" value="terjet" type="radio" id="flex">
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="flexRadioDefault">
                        No
                    </label>
                    <input class="form-check-input" name="tarjeta" value="tarjet" type="radio" id="flex">
                </div>
            </div>
            <div>
                <label for="boletos" class="col-sm-2 col-form-label">Cantidad compradores</label>
                <input matInput [(ngModel)]="CBoletos" type="number" placeholder="CCompradores">
            </div>
        </div>
        <br>
        <div class="Salida">
            <h1>Salidas</h1>
            <label for="pagar" class="col-sm-2 col-form-label">Valor a pagar</label>
            <input matInput [(ngModel)]="pagar" type="number" placeholder="CCompradores">
        </div>

        <div class="Accion">
            <h1>Accion</h1>
            <button mat-raised-button color="primary" (click)="operacion()">Procesar</button>
            <button mat-raised-button color="primary" (click)="limpiar()">Salir</button>
            <button></button>
        </div>

    </div>

</body>

</html>